{%- liquid
  assign title = block.settings.title
  assign text = block.settings.text
  assign link = block.settings.link
  assign button_label = block.settings.button_label
  assign bg_color = block.settings.background_color
  assign text_color = block.settings.text_color
  assign block_id = block.id
-%}

{%- style -%}
  #promo-block--{{ block_id }} {
    background-color: {{ bg_color }};
    color: {{ text_color }};
  }
{%- endstyle -%}

<a
  id="promo-block--{{ block_id }}"
  href="{{ link | default: '#' }}"
  class="promo-block promo-block--simple"
>
  <div class="promo-block__content">
    {%- if title != blank -%}
      <p class="promo-block__title">{{ title }}</p>
    {%- endif -%}
    {%- if text != blank -%}
      <div class="promo-block__text">{{ text }}</div>
    {%- endif -%}
    {%- if button_label != blank and link != blank -%}
      <span class="promo-block__btn">{{ button_label }}</span>
    {%- endif -%}
  </div>
</a>
